/* pallete --> https://coolors.co/palette/edf2fb-e2eafc-d7e3fc-ccdbfd-c1d3fe-b6ccfe-abc4ff */

body{
    background-color: #edf2fb;
    font-family: sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

.btn{
    background-color: aquamarine;
    width: 150px;
    height: 2rem;
    line-height: 2rem;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}