.heading{
    text-align: center;
}

.heading h1{
    font-size: 2.5rem;
    margin: 10px;
    letter-spacing: 20px;
    margin-right: -10px;
    
}
.heading h3{
    margin: 0;
}

.big{
    font-size: 1.5rem;
    font-weight: 750;
    width: 200px;
}